/* ------------------------------------------ */

:root {
    --main-color: #f40000;
    --second-color: #000;
    --icons-color: #f55b5b
}

@font-face {
    font-family: 'DinNextLight';
    src: url('fonts/din-next/light/DinNextLight.eot');
    src: url('fonts/din-next/light/DinNextLight.eot') format('embedded-opentype'), url('fonts/din-next/light/DinNextLight.woff2') format('woff2'), url('fonts/din-next/light/DinNextLight.woff') format('woff'), url('fonts/din-next/light/DinNextLight.ttf') format('truetype'), url('fonts/din-next/light/DinNextLight.svg#DinNextLight') format('svg');
}

@font-face {
    font-family: 'DinNextRegular';
    src: url('fonts/din-next/regular/DinNextRegular.eot');
    src: url('fonts/din-next/regular/DinNextRegular.eot') format('embedded-opentype'), url('fonts/din-next/regular/DinNextRegular.woff2') format('woff2'), url('fonts/din-next/regular/DinNextRegular.woff') format('woff'), url('fonts/din-next/regular/DinNextRegular.ttf') format('truetype'), url('fonts/din-next/regular/DinNextRegular.svg#DinNextRegular') format('svg');
}

@font-face {
    font-family: 'DinNextMedium';
    src: url('fonts/din-next/medium/DinNextMedium.eot');
    src: url('fonts/din-next/medium/DinNextMedium.eot') format('embedded-opentype'), url('fonts/din-next/medium/DinNextMedium.woff2') format('woff2'), url('fonts/din-next/medium/DinNextMedium.woff') format('woff'), url('fonts/din-next/medium/DinNextMedium.ttf') format('truetype'), url('fonts/din-next/medium/DinNextMedium.svg#DinNextMedium') format('svg');
}

@font-face {
    font-family: 'DinNextBold';
    src: url('fonts/din-next/bold/DinNextBold.eot');
    src: url('fonts/din-next/bold/DinNextBold.eot') format('embedded-opentype'), url('fonts/din-next/bold/DinNextBold.woff2') format('woff2'), url('fonts/din-next/bold/DinNextBold.woff') format('woff'), url('fonts/din-next/bold/DinNextBold.ttf') format('truetype'), url('fonts/din-next/bold/DinNextBold.svg#DinNextBold') format('svg');
}


/*   01 - General & Basic Styles   */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'DinNextRegular';
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: 'DinNextRegular';
    font-size: 1rem;
    color: #000;
    background: #fff;
    overflow-x: hidden;
    direction: rtl;
    text-align: right;
    /* padding-top: 60px; */
}

a {
    font-weight: 400;
    text-decoration: none;
    color: #141414;
    text-decoration: none;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
}

a:hover,
a:focus {
    text-decoration: none;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
    color: #f40000;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'DinNextMedium';
    color: var(--second-color);
}

.head-fonts {
    font-size: 2.15rem
}

.div-80 {
    height: 80px;
    width: 100%;
    display: block;
}

.div-30 {
    height: 30px;
    width: 100%;
    display: block;
}

.div-20 {
    height: 20px;
    width: 100%;
    display: block;
}

.div-50 {
    height: 50px;
    width: 100%;
    display: block;
}

.underline::after {
    content: "";
    background-color: var(--main-color);
    width: 50px;
    height: 6px;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: -12px;
}

.heads {
    color: var(--main-color);
    font-size: 16px;
}

.div-60 {
    height: 60px;
    width: 100%;
    display: block;
}

#wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    overflow: hidden;
    align-items: stretch;
}

.overlay-page {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.55);
    z-index: 9999;
    opacity: 0;
    transition: all 0.4s ease-in;
}


/* display .overlay when it has the .toggled class */

.overlay-page.toggled {
    display: block;
    opacity: 1;
    padding-top: 100px;
}

#sideBar-wraper .closse {
    position: absolute;
    top: 15px;
    left: 0;
    margin-left: -25px;
}

#sideBar-wraper .closse img {
    width: 40px;
    cursor: pointer;
}

#sideBar-wraper {
    position: fixed;
    top: 0;
    margin: 0;
    width: 250px;
    height: calc(100% + 60px);
    padding-bottom: 60px;
    /* overflow-y: auto; */
    will-change: transform;
    backface-visibility: hidden;
    z-index: 99999;
    background: #FFF;
    transform: translateX(115%);
    backface-visibility: hidden;
    transition: all 0.2s ease;
}


/* Change width of side bar to display it*/

#wrapper.toggled #sideBar-wraper {
    overflow: visible;
    right: 0;
    left: auto;
    transform: translateX(0);
}

.topHead {
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #dee2e6!important;
}

.topHead img {
    width: 275px;
}


/* mainContent-wraper */

#mainContent-wraper {
    position: relative;
    overflow: hidden;
    width: 100%;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

#wrapper.toggled #mainContent-wraper {
    position: relative;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}


/* =========================================================*/


/*   02 - Header Styles   		   */

.top-menu {
    margin-right: 1rem;
}

.top-menu img {
    width: 40px;
}


/* .top-menu a {
    display: flex;
    align-items: center;
} */

.user-img {
    background: var(--main-color);
    padding: 20px 5px 5px;
    margin-left: 10px;
}

.user-imgg {
    background: #f40000;
    padding: 8px 12px;
    color: #fff;
    border-radius: 5px;
}

.outline-link {
    color: var(--main-color);
    border: 1px solid var(--main-color);
    padding: .7rem 1rem;
    border-radius: 3px;
}

.outline-link:hover {
    background: var(--main-color);
    color: #ffffff;
}

.navbar li .nav-link,
.meun-list li a {
    padding: .7rem 0rem !important;
    margin-right: .62rem;
    margin-left: .62rem;
    font-family: "DinNextMedium" !important;
}

.navbar li.active .nav-link,
.navbar li .nav-link:hover {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

.navbar li .nohover,
.meun-list li .nohover {
    background: #f40000;
    padding: 4px !important;
    border-radius: 5px;
    display: inline-block;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.navbar li .nohover:hover {
    border-bottom: none;
}

.navbar {
    padding: 0;
}

.navbar li a:last-child {
    position: relative;
}

.navbar a span {
    background: #000;
    position: absolute;
    top: 3px;
    left: 23px;
    width: 12px;
    height: 13px;
    border-radius: 50%;
    text-align: center;
    padding: 0;
    font-size: 10px;
    vertical-align: middle;
    color: #fff;
    line-height: 11px;
}


/* .logo-div {
    padding-bottom: 20px;
} */


/* =========================================================*/


/* 03 - Slider Styles  */

.slider .owl-carousel .owl-nav button.owl-prev,
.slider .owl-carousel .owl-nav button.owl-next {
    padding: 7px 18px !important;
    background-color: rgba(255, 255, 255, .45);
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    border: 1px solid #6363631f;
    position: absolute;
    top: 50%;
    border-radius: 50%;
    text-align: center;
}

.slider .owl-carousel .owl-nav button.owl-prev {
    left: 2%
}

.slider .owl-carousel .owl-nav button.owl-next {
    right: 2%;
}

.slider .owl-carousel .owl-nav button.owl-prev span,
.slider .owl-carousel .owl-nav button.owl-next span {
    font-size: 20px;
    color: #4c4848;
}

.slider .info {
    position: absolute;
    top: 30%;
    width: 85%;
    text-align: center;
    transform: translate(0%, 35%);
}

.slider .info .btn {
    background-color: var(--main-color);
    color: #fff;
}

.slider .info form .col-md-2,
.slider .info form .col-md-6 {
    padding-right: 3px !important;
    padding-left: 3px !important;
}

.slider .info form .col-6,
.slider .info form .col-6 {
    padding-right: 15px;
    padding-left: 15px;
}

.slider .form-control {
    border-radius: .25rem;
    height: calc(1.75em + 1rem + 6px);
    padding: .75rem 1rem;
}


/* input#palceholder-img {
    background-image: url(../img/iconsl.gif);
    background-repeat: no-repeat;
    text-indent: 30px;
    background-size: contain;
    background-position: right;
}

input#palceholder-img:focus {
    background-image: none;
    text-indent: 0px
} */


/* =========================================================*/

.services .owl-carousel .owl-nav button.owl-prev,
.services .owl-carousel .owl-nav button.owl-next {
    padding: 3px 14px !important;
    background-color: #ffffffb3;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    border: 1px solid var(--main-color);
    position: absolute;
    top: 40%;
    color: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.services .owl-carousel .owl-nav button.owl-prev:hover,
.services .owl-carousel .owl-nav button.owl-next:hover {
    background-color: var(--main-color);
    color: #fff;
}

.services .owl-carousel .owl-nav button.owl-prev:hover span,
.services .owl-carousel .owl-nav button.owl-next:hover span {
    color: #fff;
}

.services .owl-carousel .owl-nav button.owl-prev {
    right: 0;
}

.services .owl-carousel .owl-nav button.owl-next {
    left: 0%;
}

.services .owl-carousel .owl-nav button.owl-prev span,
.services .owl-carousel .owl-nav button.owl-next span {
    font-size: 22px;
    color: var(--main-color);
}

.services .owl-carousel .owl-nav button.owl-prev span:hover,
.services .owl-carousel .owl-nav button.owl-next span:hover {
    color: #fff;
}

.services .heads {
    color: var(--main-color);
    font-size: 16px;
}

.services .overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.82) url(../img/loader.gif) no-repeat;
    background-position: 50% 10%;
    background-size: 100px;
    display: none;
    width: 100%;
    height: 100%;
    display: none;
    transition: all .2s ease-in-out;
}

.services .img_item {
    overflow: hidden;
    height: 200px;
}

.services .img_item img {
    width: 100% !important;
    height: 100%;
}

.services .img_item .badge {
    background-color: var(--main-color);
    position: absolute;
    color: #fff;
    top: 10px;
    right: 10px;
    padding: 5px 15px;
    border-radius: 0;
}

.services .img_item .btn_quickview {
    position: absolute;
    top: 5% !important;
    -webkit-transform: translatey(-50%);
    transform: translatey(-50%);
    left: 0;
    right: 0;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .3s;
    transition: .3s;
}

.services .card:hover .btn_quickview {
    opacity: 1;
    visibility: visible;
    top: 50% !important;
}

.services .card:hover {
    box-shadow: 1px 3px 12px 2px #ccc;
}

.btn_quickview a {
    background: rgba(244, 244, 244, 0.8);
    color: #444444;
    font-size: 20px;
    font-weight: 400;
    padding: 0;
    width: 30px;
    line-height: 30px;
    display: inline-block;
    border-radius: 5px;
}

.btn_quickview a:hover {
    background: var(--main-color);
    color: #fff;
}

.star-ratings.start-ratings-main {
    margin-top: 0;
}

.rating-md {
    font-size: 15px;
}

.rating-container .clear-rating {
    padding-right: 0;
}

.rating-container .empty-stars {
    color: #cccccc;
}

.rating-container .filled-stars {
    color: var(--main-color);
    -webkit-text-stroke: 1px var(--main-color);
    text-shadow: 1px 1px #ffffff;
}

.rating-container .caption {
    display: none !important;
}

.rating-container .clear-rating {
    padding-right: 0;
}

.card-title:hover {
    color: var(--main-color);
}

.show_action_cart {
    margin: 12px 0 5px 0;
    overflow: hidden;
}

.show_action_cart li {
    float: right;
    width: auto !important;
    border: none;
    padding: 0 0px;
}

.show_action_cart .action-icon li a {
    color: #000;
    display: inline-flex;
    padding: 0 0px;
    margin-left: 5px;
    margin-right: 5px;
}

.add_to_cart_heart {
    border: 1px solid #ccc !important;
    padding: 3px 6px !important;
    height: auto !important;
    border-radius: 5px;
}

.add_to_cart_img {
    width: auto !important;
    padding: 0 5px;
}

.fav_addtocart img {
    width: 35px !important;
}

.heart_animation {
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.heart_animation:hover {
    background: var(--main-color);
    color: #fff;
}

.heart_animation:hover a {
    color: #fff !important;
}

.services .card:hover .heart_animation {
    transform: rotate(360deg);
    background-color: var(--main-color);
    border: none;
}

.services .card:hover .heart_animation a {
    color: #fff;
}

.services .btn {
    background-color: #000;
    color: #FFF;
}

.plus,
.minus {
    border: 1px solid #ccc;
    background: #fff;
    padding: 2px 13px;
    cursor: pointer;
}

.modal_action a {
    margin: 0 3px;
}

.cart_loader {
    position: absolute;
    top: 4px;
    display: none;
    left: -3px;
}

.popUp_loder {
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
    padding: 6px;
    margin-top: 0px;
    z-index: 99999;
    left: 0;
    right: 0;
    top: 0 !important;
    text-align: center;
}

.modal_action a {
    background-color: #000;
    color: #fff !important;
    border-radius: 5px;
    border: none;
}

.modal_action a:hover {
    background-color: var(--main-color);
    color: #fff;
}


/*=========================================================================*/


/*   10 - Contact Styles           */

.full-width-map {
    width: 100%;
    height: 555px;
}

.contact-sec {
    position: relative;
}

.contact-div {
    width: 100%;
    position: absolute;
    top: -100px;
    right: 0;
    left: 0;
}

.mail-icon {
    background: #f40000;
    padding: 20px;
    height: 100px;
    width: 100px;
    display: block;
    float: right;
}

.mail-input {
    float: left;
    width: calc(100% - 130px);
    margin-top: 30px;
}

.input-group-text {
    color: #ffffff;
    background-color: #f40000;
    border: 1px solid #f40000;
}

.address-details .card:first-of-type {
    border-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.address-details .card {
    border: 0;
    border-radius: 0;
}

.address-details .card-header .btn {
    padding-right: 0;
    padding-left: 0;
    width: 100%;
    color: #141414;
    text-align: right;
    font-size: 18px;
}

.address-details .card-header {
    background: #ffffff;
    border-bottom: 1px solid #fafafa;
}

.order-title {
    background: #f40000;
    padding: 10px 15px;
    color: #ffffff;
    width: 100%;
    display: inline-flex;
    align-items: center;
    height: 100px;
}

.order-title img {
    float: right;
    margin-left: 20px;
}

.order-title:after {
    display: block;
    clear: both;
    content: "";
}

.order-title h5 {
    color: #ffffff;
}

.red-btn {
    background: #f40000;
    border-radius: 0;
    border-color: #f40000;
}

.red-btn:hover,
.red-btn:focus,
.red-btn:active {
    color: #f40000 !important;
    background: #ffffff !important;
    border-color: #f40000 !important;
    outline: none !important;
    box-shadow: none !important;
}

.dark-btn {
    background: #141414;
    border-radius: 0;
    border-color: #141414;
}

.dark-btn:hover,
.dark-btn:focus,
.dark-btn:active {
    color: #141414 !important;
    background: #ffffff !important;
    border-color: #141414 !important;
    outline: none !important;
    box-shadow: none !important;
}

.service-request {
    margin-top: -100px;
}

.address-details .card-header .btn i {
    float: left;
    margin-top: 3px;
}

.address-details .card-header .btn i.fa-minus {
    background: #f40000;
    color: #ffffff;
    padding: 2px 5px;
}

.address-details .card-header .btn i.fa-plus {
    display: none;
}

.address-details .card-header .btn.collapsed i.fa-plus {
    display: block;
}

.address-details .card-header .btn.collapsed i.fa-minus {
    display: none;
}

.address-details .form-control {
    margin-bottom: 15px;
}

.address-details .dark-btn {
    width: 75%;
}

.blog-block a {
    display: block;
}

.gray-bg {
    background: #fafafa;
    padding-bottom: 50px;
}

.gray-bg .frm {
    background: #ffffff;
    padding: 30px 20px;
}

.frm label {
    font-family: "DinNextMedium" !important;
    margin-bottom: 15px;
}

.width-60 {
    width: 60%;
}

.address-detailes {
    background: #fafafa;
}

.address-block-header {
    padding: 15px 30px;
    border-bottom: 1px solid #7d7d7d;
}

.address-block-body {
    padding: 15px 30px;
}

.form-control {
    border-radius: 0;
    color: #7d7d7d;
}

.form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: #f40000;
}

.time {
    height: 38px;
    border: 1px solid #ced4da;
    color: #7d7d7d;
    direction: ltr;
    display: flex;
    align-items: center;
    justify-content: center;
}

.field-maillist-email {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}

.mail-input button {
    background: #f40000;
    border: none;
    padding: 0px;
    margin: 0;
    height: 38px;
}

.radio-toolbar .form-group {
    margin: 0;
}


/*=========================================================================*/


/* Footer */


/*   11 - Footer Styles            */

.social-icons a:first-child {
    padding-right: 0;
}

.footer-line {
    border-top: 5px solid #f40000;
    width: 60px;
    float: right;
    margin-top: 5px;
    margin-bottom: 30px;
}

.footer-menu {
    columns: 2;
}

.footer-menu li.active a {
    color: #f40000;
}

.padd-r-50 {
    padding-right: 50px;
}

.footer-menu li a {
    margin-bottom: 10px;
    display: block;
    color: #000;
    font-weight: 500;
    /* font-family: "DinNextMedium" !important; */
}

.footer-menu li a:hover {
    color: var(--main-color);
}

.bootom-footer {
    border-top: 1px solid #7d7d7d;
    padding: 15px 0;
    margin-top: 20px;
}

.copyright {
    margin-bottom: 0;
}

.copyright a {
    color: #f40000;
    text-transform: uppercase;
}


/*   16 - Scroll Top      */

#scroll-top {
    width: 35px;
    height: 35px;
    line-height: 35px;
    color: #FFF;
    background-color: var(--main-color);
    text-align: center;
    right: 5px;
    bottom: 45px;
    position: fixed;
    z-index: 9999;
    display: none;
    cursor: pointer;
    border-radius: 6px;
    font-size: 16px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    -webkit-box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
}


/* ======================================================================= */


/* About Page */

.about-us {
    background: url(../img/breadcarmb.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 250px;
    position: relative;
}

.about-us .info {
    padding: 120px 0 0 0;
}

.about-us .breadcrumb {
    direction: rtl;
    background-color: transparent;
}

.about-us .breadcrumb li,
.about-us .breadcrumb li a {
    color: #FFF;
    font-size: 18px;
}

.breadcrumb-item+.breadcrumb-item::before {
    color: var(--main-color);
    content: "|";
    padding-left: .5rem;
}

.statistics {
    background: url(../img/parallax-image.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 400px;
    position: relative;
    background-attachment: fixed;
}

.statistics .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .75);
}

.statistics .counter-box .number {
    font-size: 3.2rem;
    color: #FFF;
    font-weight: 600;
    margin-bottom: 0;
}

.statistics .counter-box span {
    color: #FFF !important;
    font-weight: 500;
    font-size: 1rem;
}

.search-banner {
    background-color: #ebebeb;
}

.search-banner .btn {
    background-color: var(--main-color);
    color: #fff;
}

.search-banner .form-group {
    margin-bottom: 0;
}

.search .form-control {
    border-radius: 0;
    color: #7d7d7d;
    padding: .395rem .95rem;
    height: calc(1.5em + .95rem + 4px);
    background-color: #fafafa;
}

.search .list-filter .nav-link {
    padding: 0;
}

.search .list-filter .second,
.search .list-filter .first {
    background-color: #eee8e8bd;
    color: #7d7d7d;
    border-radius: .25rem;
    padding: 0.5rem;
}

.search .list-filter .active .first,
.search .list-filter .active .second {
    color: #fff;
    background-color: transparent;
    border-radius: 0rem;
    /* padding: 0rem; */
}

.page-item.active .page-link,
.page-link:hover,
.page-link:focus {
    background-color: var(--main-color);
    border-color: var(--main-color);
    color: #fff;
    box-shadow: none;
}

.page-link {
    color: #c3c3c3;
    background-color: #f8f8f8;
    border: 1px solid #c3c3c3;
    margin-left: 5px;
    border-radius: 15%;
}

.search .card-img {
    flex: 1;
}

.login-sec .info {
    background: var(--main-color);
    padding: 15px 30px;
    color: #ffffff;
    display: inline-flex;
    align-items: center;
}

.login-sec .customlink {
    color: var(--main-color);
}

.box-upload {
    background-color: #ebebeb;
    border-radius: 8px;
    padding: 45px;
    cursor: pointer;
}

.setting .nav {
    background-color: #fafafa;
}

.setting .nav-item {
    padding: 15px 0;
    border-bottom: 1px solid #8c8c8c;
}

.setting .nav-pills .nav-link {
    border-radius: 0;
    text-align: center;
    color: #000;
}

.setting .nav-pills .no-border {
    border-bottom: none;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link,
.nav-pills .nav-link:hover {
    background-color: var(--main-color);
    color: #fff !important;
}

.setting .card-img {
    flex: 1;
}

.setting .card-body {
    flex: 1 1 40%;
}

.icon-favorite {
    background: #f40000;
    border-radius: 50%;
    padding: 10px;
}

.setting .info .red-btn {
    background-color: var(--main-color) !important;
}

.setting .info .red-btn:hover {
    background-color: #fff !important;
}

.display .green {
    padding: 5px 25px;
    text-align: center;
    border-radius: 3px;
    background-color: #069e59;
    color: #fff;
}

.display .fas {
    color: var(--icons-color);
}

.display .options {
    flex: 1;
}

.display .price {
    flex: 1;
}

.services .options img {
    display: inline;
    width: 28px;
}

.card-body small img {
    display: inline !important;
    width: 18px !important;
}

.display .icons-share li {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #e9e3e3;
    margin-left: 10px;
}

.display .icons-share li .fas {
    color: #969393;
}

.mobile {
    border-top: 1px solid #f40000;
}

.footer .link-footer a {
    font-family: "DinNextMedium" !important;
    color: #000;
    padding: 12px 5px;
}

.footer .link-footer .active {
    background-color: #f40000;
    color: #fff;
}

#filter-side {
    display: block;
    position: fixed;
    top: 70px;
    margin: 0;
    width: 200px;
    height: 100%;
    overflow-y: auto;
    will-change: transform;
    backface-visibility: hidden;
    z-index: 99999;
    background: #f4f3f3;
    transform: translateX(-150%);
    transition: all 0.45s ease-in-out;
    left: -200px;
    padding: 30px 0;
}

.navbar.filter-show #filter-side {
    overflow: visible;
    left: 0;
    right: auto;
    transform: translateX(0);
}

.filter i {
    font-size: 30px;
}

#stickybottom {
    position: fixed;
    bottom: 50px;
    z-index: 2;
    left: 5%;
    width: 90%;
}

#stickytypeheader {
    z-index: 2;
}

.ui-slider-horizontal {
    height: .3em !important;
}

.ui-widget-header {
    background: var(--main-color);
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
    border-radius: 50%;
}

.ui-slider-horizontal .ui-slider-handle {
    top: -.45em;
    border: 1px solid #f40000;
    background: #fff;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
    color: #fff;
}

.fiexed_menue {
    width: 100px;
    position: fixed;
    left: -16px;
    top: 30%;
    z-index: 999;
}

.outer-border2 {
    width: 70px;
    height: 45px;
    border: 1px solid #f40000;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    background: #fff;
}

.dept-photo2 {
    width: 32px;
    height: 30px;
    background: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border: 0px solid #ffffff;
}

.dept-nav .hover-img {
    display: none;
}

.dept-photo {
    width: 120px;
    height: 120px;
    background: #fff;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #ffffff;
}

.dept-nav a h4 {
    text-align: center;
    color: #ffffff;
    line-height: 1.5;
}

.dept-nav a {
    max-width: 180px;
}

.outer-border {
    width: 130px;
    height: 130px;
    border: 1px solid #f40000;
    padding: 5px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.dept-nav a:hover .outer-border {
    border-color: #ffffff;
}

.dept-nav a:hover .dept-photo {
    background: #f40000;
}

.dept-nav a:hover .hover-img {
    display: block;
}

.dept-nav a:hover .home-img {
    display: none;
}

.outer-border2:hover,
.dept-photo2:hover,
.outer-border2:hover .dept-photo2 {
    background: #f40000;
}

.fiexed_menue .nav-link {
    padding: 4px;
}

.cart-dropdown {
    width: 300px;
    border-radius: 0;
}

.cart-shop-row i {
    color: #333333;
    position: absolute;
    left: 5px;
    cursor: pointer;
}

img.cart-itm-img {
    width: 60px;
    height: 60px;
}

.cart-item-det {
    color: #333333;
    font-size: 13px;
    text-align: right;
    padding-right: 10px;
}

.cart-item-det a {
    color: #282828 !important;
}

.cart-dropdown .bold {
    font-weight: bold;
    font-family: 'DinNextBold';
}

a.cart-action-a {
    color: #fff !important;
    padding: 6px 10px;
    font-size: 15px !important;
    margin-left: 10px;
    background-color: var(--main-color);
    display: block;
    margin-bottom: 10px;
    text-align: center;
}

a.cart-action-a:hover {
    background-color: #000;
}

span.discount {
    font-size: 14px;
    text-decoration: line-through;
    color: #f51b1b;
    float: right;
    margin: 0 0 0 10px;
}

.owl-thumb-item {
    display: table-cell;
    border: none;
    background: none;
    padding: 0;
    opacity: .5;
    width: 85px;
}

.owl-thumb-item.active {
    opacity: 1;
}

.img-circle {
    border-radius: 50%;
    width: 30px !important;
    height: 30px;
    border: 2px solid #fbfbfbb3;
}

.account_name {
    padding: 6px 20px;
    border-bottom: 3px solid var(--main-color);
    text-align: right;
}

.login-user-menu {
    border-radius: 0;
    text-align: right;
    border-top: 1px solid var(--main-color);
    padding: 10px;
}

.top-header .nav a {
    color: #000;
    font-weight: 300;
    font-size: 16px;
}

.login-user-menu a {
    border-bottom: 1px solid #ccc;
    padding: 6px;
}

.login_title {
    background: var(--main-color);
    padding: 10px;
    margin-bottom: 27px;
    text-align: center;
}

.login_title h4 {
    color: #fff;
}

.display .btn {
    background-color: #000;
    color: #FFF;
}

span.title-sperator {
    color: var(--main-color);
}

.add-info {
    color: #777777;
}

.slider_title {
    font-size: 25px;
    font-weight: bold;
    font-family: 'DinNextBold';
    margin: 15px 0;
}

.filter-tab-ul .card-header {
    margin-bottom: -8px;
    border: none;
    padding: 0 !important;
    background: transparent;
    cursor: pointer;
    text-align: right;
}

.card .collapsed {
    background: #fff !important;
    color: #000;
}

#amr .card-header h4 {
    background: var(--main-color);
    color: #fff;
    padding: 5px 10px 11px 1px;
    font-size: 20px;
}

#amr .border_warp {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 5px 15px;
}

#amr .width_100 {
    padding: 5px 0;
}

#amr .filter-tab-ul .card-header {
    border: none;
    padding: 0 !important;
}

.card .collapsed label {
    color: #000 !important;
}

.filter-tab-ul .form-check-label {
    margin-right: 20px;
}

span.plus_one {
    float: left;
    font-size: 23px;
    margin-top: -13px;
}

.filter-tab-ul .card {
    border: 0;
    margin-bottom: 5px;
    text-align: right;
}

.filter-tab-ul .form-check-input {
    margin-top: 8px;
}

.filter-tab-ul li .form-check {
    border-bottom: 0px solid #cccccc;
    padding: 5px 10px 10px 0;
    margin-top: 10px;
}

.menue_row,
.menue_row2 {
    background: #fbfbfb;
    padding: 9px;
}

.filter-bar {
    padding-top: 10px;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 15px;
    padding-bottom: 10px;
}

.filter-bar .form-group {
    margin-bottom: 0 !important;
}

.filter-bar .col-form-label {
    padding-top: 0;
}

#amr2 .list_button {
    float: left;
}

#amr2 .list_button li button {
    margin: 0 5px;
    background: #f1f1f1;
    border: none;
    color: #999999;
    padding: 6px 12px;
    border-radius: 5px;
}

#amr2 .list_button li button.active {
    background: var(--main-color);
    color: #f1f1f1;
}

.relative_div {
    position: relative;
}

.has-error p,
.has-error .help-block {
    font-size: 12px;
    color: red;
}

.has-error input,
.has-error textarea {
    border: 1px solid red;
}

.can_activate {
    background: var(--main-color);
    padding: 6px 20px;
    border-radius: 6px;
    border: 1px dashed #3d3d3d;
    text-align: center;
    margin: 23px auto;
}

.profile_title {
    background: #f7f7f7;
    padding: 15px;
    font-size: 20px;
    margin-bottom: 15px;
}

.quick_link {
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    margin-bottom: 15px;
}

.quick_link p {
    text-align: center;
}

.quick_link img {
    filter: brightness(0);
    width: 50px;
}

.quick_link:hover img {
    filter: brightness(.3);
    -webkit-filter: brightness(.3);
}

.status_0 {
    background: #7fa205;
    padding: 7px 22px;
    color: #fff;
    vertical-align: -webkit-baseline-middle;
    min-width: 150px;
    display: inline-block;
}

.text_right {
    text-align: right;
}

.red-btn-bg {
    border: 1px solid #fff !important;
    background-color: #bc8e43;
}

.modal-header .close {
    position: absolute;
    left: 0;
}

.width_100 {
    width: 100%;
    margin-top: 3px;
    margin-bottom: 3px;
}

.order_delete {
    padding-top: 0;
    width: 100%;
    padding-bottom: 3px;
}

.div-15 {
    height: 15px;
    width: 100%;
    display: block;
}

.border_bottom {
    border-bottom: 1px solid #ccc;
    padding: 0 0 7px 0;
}

.fav_delete {
    background: transparent !important;
    border: 1px solid red;
    color: red !important;
    padding: 5px 10px !important;
}


/*   12 - Shoping Cart Styles      */

.tab-header {
    width: 30%;
    text-align: center;
    border: 1px solid #cccccc;
    padding-top: 10px;
    margin-left: 20px;
    padding-bottom: 10px;
    margin-right: 15px;
}

.tab-header a {
    color: #333333;
}

.tab-header p {
    text-align: center;
}

.tab-header.active {
    border: 1px solid var(--main-color);
}

.tab-header.active p {
    color: #e5c12f;
}

.no {
    margin-left: 5px;
}

.trans-btn {
    background: transparent;
}

.trans-btn:focus {
    outline: 0 !important;
    box-shadow: 0 0 0 0.2rem #ffffff !important;
}

.btn {
    border-radius: 0;
    border: 0;
}


/* .red-btn {
    background: #e5c12f;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 9px;
} */

.black-btn {
    background: #333333;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 9px;
}

.shop-action-btns {
    text-align: center;
    margin-bottom: 3px;
}

.shop-action-btns .btn {
    margin-left: 10px;
    margin-right: 10px;
}

.cart-total {
    text-align: center;
    border: 1px solid #cccccc;
    padding: 20px;
}

.cart-total p,
.cart-total h4 {
    text-align: right;
}

.cart-total h4,
.cobon-active h4 {
    margin-bottom: 20px;
}

.bold {
    font-weight: bold;
    font-family: 'DinNextBold';
}

.left-span {
    float: left;
}

.cobon-active {
    text-align: right;
    border: 1px solid #cccccc;
    padding: 20px;
}

.cobon-active .form-control {
    border-radius: 0;
    margin-bottom: 20px;
    margin-top: 10px;
}

.cart-total hr {
    margin-bottom: 20px;
    margin-top: 20px;
}

p.ask-p {
    background: #eeeeee;
    padding: 10px 20px;
    border-radius: 5px;
}

p.ask-p a {
    color: #e5c12f;
}

.purchase-det {
    text-align: right;
}

.purchase-det .form-row {
    margin-bottom: 15px;
}

.purchase-det h4 {
    margin-bottom: 20px;
}

table,
th,
td {
    border: 1px solid black;
}

.bill-item-tble .thead-light th {
    color: #333333;
    background-color: #eeeeee;
    border-color: #eeeeee;
}

.bill-item-tble,
.bill-item-tble td,
.bill-item-tble th {
    border-top: 0;
    border: 0;
}

.purchase-det .form-check-input {
    margin-top: 10px;
}

.purchase-det .form-check-label {
    margin-right: 20px;
    color: #333333;
}

.card-header {
    border-bottom: 0;
    background: #eeeeee;
}

.card {
    border: 0;
    margin-bottom: 5px;
}

.text-center {
    text-align: center;
}

.width-100 {
    width: 100%;
}

span.discount {
    font-size: 14px;
    text-decoration: line-through;
    color: #f51b1b;
    float: right;
    margin: 0 0 0 10px;
}

.margin_top_30 {
    margin-top: 30px;
}

.delet_from_cart {
    background: #fff;
    color: #ef1e1e;
    border: 2px solid red;
    border-radius: 7px;
    display: inline-block;
    font-style: normal;
}

.login-btn {
    background: var(--main-color);
    display: block;
    margin: 0 auto;
    padding: 17px 20px;
    border-radius: 7px;
    min-width: 250px;
    float: none;
}

.purchase-det #collapseOne p {
    background: #e1bc2e;
    border: 1px dashed #fff;
    padding: 10px;
    overflow: hidden;
}

.purchase-det #collapseOne span {
    background: #e1bc2e;
    border: 1px dashed #fff;
    padding: 10px;
    overflow: hidden;
    color: #fff !important;
}

.purchase-det #collapseOne p .color_red {
    color: #fff !important;
}

.purchase-det .border_warp {
    border: 1px solid #ccc;
    padding: 15px;
}

.bill-item-tble,
.bill-item-tble td,
.bill-item-tble th {
    border-top: 0;
    border: 0;
}

.payment-ul {
    text-align: center;
}

.payment-ul li {
    display: inline-block;
    margin-right: 5px;
    margin: 0;
    padding: 0 5px;
}

.item-view {
    height: 203px;
    overflow: hidden;
}


/*   05 - Footer Styles            */

.top-footer {
    background-color: #141414;
    padding: 40px;
    color: #ffffff;
}

.logo_filter {
    height: 70px;
    margin-bottom: 10px;
    filter: brightness(0);
    -webkit-filter: brightness(0);
}

.top-footer h4 {
    color: #ffffff;
    text-align: right;
    font-size: 20px;
    margin-bottom: 20px;
}

.contactinfo-ul li {
    color: #ffffff;
    text-align: right;
    display: block !important;
    padding: .5rem 0rem;
}

.contactinfo-ul li p {
    color: #ffffff;
    font-size: 15px;
    /*float: left;*/
}

.contactinfo-ul li i {
    border: 1px solid;
    width: 35px;
    height: 35px;
    text-align: center;
    padding-top: 8px;
    float: right;
    margin-left: 10px;
    border-radius: 50%;
    color: var(--main-color);
}

.footer-menu {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

.footer-menu li a {
    text-align: right;
    font-size: 16px;
    padding-right: 0;
    color: #ffffff;
}

.footer-menu li a:hover {
    color: var(--main-color);
}

.social-icon li {
    float: none;
    margin-right: 12px;
    display: inline-block;
    margin-top: 10px;
}

.social-icon a {
    width: 35px;
    height: 35px;
    display: block;
    text-align: center;
    background: #ffffff;
    color: #333333;
    padding-top: 5px;
    border-radius: 50%;
}

.social-icon a:hover {
    background: #e5c12f;
    color: #ffffff;
}

.android-app {
    margin-top: 15px;
    text-align: center;
}

.android-app a img {
    height: auto;
}

.android-app div,
.android-app a {
    display: inline-block;
}

.main-footer {
    background-color: var(--main-color);
    padding: 10px;
}

.copyrights {
    text-align: right;
    color: #ffffff;
}

.copyrights p {
    color: #ffffff;
}

.shipping_company img {
    max-width: 50px !important;
    margin-top: 15px;
}

.jvFDcV {
    width: 50px;
    height: 50px;
    order: 1;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.4) 2px 2px 6px;
    transition: all 0.5s ease 0s;
    position: relative;
    z-index: 200;
    display: block;
    border: 0px;
    background: rgb(77, 194, 71) !important;
}

.hasyTc {
    opacity: 1;
    display: block;
    position: absolute;
    bottom: -1.6em;
    left: -0.5em;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 11px;
    line-height: 11px;
    width: 60px;
    border: 0px;
    max-width: inherit;
    color: rgb(175, 175, 175) !important;
}